[submodule "Mutex"]
	path = Mutex
	url = https://github.com/jpsilverberg/Mutex.git
[submodule "Logger"]
	path = Logger
	url = https://github.com/jpsilverberg/Logger.git
[submodule "DataPools"]
	path = DataPools
	url = https://github.com/jpsilverberg/DataPools.git
[submodule "Bits"]
	path = Bits
	url = https://github.com/jpsilverberg/Bits.git
[submodule "Numbers"]
	path = Numbers
	url = https://github.com/jpsilverberg/Numbers.git
[submodule "LinAlg"]
	path = LinAlg
	url = https://github.com/jpsilverberg/LinAlg.git
[submodule "Quadrature"]
	path = Quadrature
	url = https://github.com/jpsilverberg/Quadrature.git
[submodule "Geodesy"]
	path = Geodesy
	url = https://github.com/jpsilverberg/Geodesy.git
[submodule "StringUtils"]
	path = StringUtils
	url = https://github.com/jpsilverberg/StringUtils.git
