[submodule "DataLog"]
	path = DataLog
	url = ./DataLog
[submodule "DataPools"]
	path = DataPools
	url = ./DataPools
[submodule "DataMutex"]
	path = DataMutex
	url = ./DataMutex
[submodule "Bits"]
	path = Bits
	url = https://github.com/jpsilverberg/Bits.git
